<ion-content>
  <ion-grid>
      <ion-label>
          <h1>  
          </h1>
      </ion-label>
      <ion-row *ngFor="let art of artistas">
          <ion-col>
              <a [routerLink]="['/tabs/artista', art['key']]">
                  <ion-card>
                      <ion-row size="12">
                          <ion-col size="3">
                              <img src="{{art['imageURL']}}" alt="">
                          </ion-col>
                          <ion-col size="9">
                              <ion-row>
                                  <h1>
                                      {{art['autor']}}
                                  </h1>
                              </ion-row>
                          </ion-col>
                      </ion-row>
                  </ion-card>
              </a>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
