<ion-content>
    <ion-grid>
        <ion-label>
            <h1>
                
            </h1>
        </ion-label>
        <ion-row *ngFor="let c of canciones">
            <ion-col>
                <a [routerLink]="['/tabs/cancion', c.key]">
                    <ion-card>
                        <ion-row>
                            <ion-col>
                                <img src="{{c['imageURL']}}" alt="">
                            </ion-col>
                            <ion-col>
                                <h2>
                                    <p>
                                        {{c['titulo']}} - {{c['autor']}}
                                    </p>
                                </h2>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>