ion-title{
    background: linear-gradient(168deg,rgb(110, 22, 63)0%,rgb(14, 14, 15,1)45%);
}

ion-col{
    text-align: left;
    color: white;
    background-color: rgb(14, 14, 15,1);
}

.cancionLista {
    color: white;
    h2 {
        text-align: center;
    }
}

h2{
    color: white;
}

p{
    background-color: black;
    margin: -16px;
    text-align: center;
}
