<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          Tu Biblioteca
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-header [translucent]="true">
      <ion-toolbar>
          <ion-title>
              Tu Biblioteca
          </ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-tab-bar slot="top">
      <ion-tab-button tab="tab3-playlist">
          <ion-label>
              <h2>
                  Playlists
              </h2>
          </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tabtres2">
          <ion-label>
              <h2>
                  Artistas
              </h2>
          </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tabsdescargas">
        <ion-label>
            <h2>
                Descargas
            </h2>
        </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>