ion-button {
    --background: transparent;
}

ion-card {
    color: white;
    ion-card-content {
        img {
            width: 60%;
        }
    }
}

ion-card-header {
    color: white;
}

ion-content {
    text-align: center;
}

h3 {
    text-align: center;
}