<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-row size="12">
                <ion-col size="3">
                    <ion-button class="regresar" (click)="volver()">
                        <ion-icon name="chevron-back-outline" size='large'></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="9">
                    <img src="{{cancion.imageURL}}" alt="">
                </ion-col>
            </ion-row>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col>
                    <ion-label>
                        <h1>
                            <strong>
                                {{cancion.titulo}}
                            </strong>
                        </h1>
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>
                        <h1>
                            <strong>
                                {{cancion.autor}}
                            </strong>
                        </h1>
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button (click)="hacerFav()">
                        <ion-icon name="heart-outline" size='large' *ngIf="!cancion.favorita; else favorito"></ion-icon>
                        <ng-template #favorito>
                            <ion-icon class="verde" name="heart" size="large"></ion-icon>
                        </ng-template>
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="descargar()">
                        <ion-icon name="arrow-down-circle-outline" size='large' *ngIf="!cancion.descargada; else downloaded"></ion-icon>
                        <ng-template #downloaded>
                            <ion-icon class="verde" name="arrow-down-circle" size="large"></ion-icon>
                        </ng-template>
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button>
                        <ion-icon name="ellipsis-horizontal-outline" size='large'></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button>
                        <ion-icon name="play-circle" class="play" size='large'></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-row *ngFor="let cancion of canciones">
        <ion-col>
            <a [routerLink]="['/tabs/cancion', cancion['key']]">
                <ion-card class="cancionLista">
                    <ion-row size="12">
                        <ion-col size="3">
                            <img src="{{cancion['imageURL']}}" alt="">
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <h5>
                                    {{cancion['titulo']}}
                                </h5>
                            </ion-row>
                            <ion-row>
                                <h5>
                                    {{cancion['autor']}}
                                </h5>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </a>
        </ion-col>
    </ion-row>
</ion-content>