ion-button {
    --background: transparent;
}

img {
    width: 80%;
}

ion-card-content {
    color: white;
}

.play {
    color: green;
}

.cancionLista {
    color: white;
}

.verde {
    color: green;
}

ion-label {
    text-align: center;
}