<ion-grid>
  <ion-label>
      <h1>
          Recomendaciones
      </h1>
  </ion-label>
  <ion-row size="12">
      <ion-col *ngFor="let art of tabuno2" size="5">
          <a [routerLink]="['/tabs/artista', art['key']]">
              <ion-card>
                  <ion-row>
                      <ion-col>
                          <img src="{{art['imageURL']}}" alt="">
                      </ion-col>
                      <ion-col>
                          <h2>{{art['autor']}}</h2>
                      </ion-col>
                  </ion-row>
              </ion-card>
          </a>
      </ion-col>
  </ion-row>
</ion-grid>
