ion-card {
    background-color: black;
    color: white;
    img {
        width: 40%;
    }
}

ion-label {
    text-align: center;
}

ion-grid{
    background-color: black;
}

h1{
    color: white;
    text-align: left;
}