<ion-grid>
    <ion-label>
        <h1>Explorar todo</h1>
    </ion-label>
    <ion-row size="12">
        <ion-col *ngFor="let cancion of tabdos" size="12">
            <a [routerLink]="['/tabs/cancion', cancion['key']]">
                <ion-card>
                    <ion-row>
                        <ion-col>
                            <img src="{{cancion['imageURL']}}" alt="xd">
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <h5>
                                    {{cancion['titulo']}}
                                </h5>
                            </ion-row>
                            <ion-row>
                                <h5>
                                    {{cancion['autor']}}
                                </h5>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </a>
        </ion-col>
    </ion-row>
</ion-grid>